.home_container{
    
    position: absolute;
    // align-items: center;
    text-align: center;
    width: 100%;
    height: 700px;
    // left: 0px;
    top: 113px;
    /* filter: blur(1px); */
    background: url(../../assets/bg.jpg);
}
.wrapper{
    width: 100%;
    height: 100%;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // @include mobile{
    //     padding-left: 0;
    //     align-items: center;
    // }


    h1{
        font-size: 60px;
        margin: 10px 0;
        color: rgb(0, 0, 0);

        // @include mobile{
        //     font-size: 40px;
        // }
    }
    h2{
        font-size: 35px;
        color: rgb(0, 0, 0);
    }
    h3{
        font-size: 30px;
        color: rgb(0, 0, 0);
        
        // @include mobile{
        //     font-size: 20px;
        // }

        span{
            font-size: inherit;
            color: rgb(0, 4, 255)
        }

        .ityped-cursor{
            animation: blink 1s infinite;
        }

        // @keyframes blink {
        //     50%{
        //         opacity: 1;
        //     }
        //     100%{
        //         opacity: 0;
        //     }
            
        // }
    }
}

.readmore {
    position: absolute;
    width: 20%;
    height: 52px;
    left: 522px;
    top: 457px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), #4873B5;
    border-radius: 50px;
    font-family: 'Open Sans';
    // font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 60px ;
    margin: 20px ;
    cursor: pointer;
    gap: 40px;
   
    
        
}

//  @media screen and (max-width: 500px) {
//     .wrapper{
        
//         padding-left: 0;
//         align-items: center;

//     }
//     .home_container{
//         background: none;
//         padding: 0;
//         // display: flex;
//     }
  
// //      .readmore{
// //         // position: relative;
// //     width: 20%;
// //     height: 20px;
// //     // left: 522px;
// //     top: 457px;
// //     // background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), #4873B5;
// //     border-radius: 50px;
// //     font-family: 'Open Sans';
// //     // font-style: normal;
// //     font-weight: 400;
// //     font-size: 20px;
// //     line-height: 32px;
// //     /* or 160% */
// //     color: white;
// //     // display: flex;
// //     // align-items: center;
// //     // text-align: center;
// //     // padding-left: 60px ;
// //     // margin: 20px ;
// //     cursor: pointer;
// //     gap: 40px;
// //      }
// }